@media (max-width: 767px) {
    form {
        padding: 15px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}

main {
    background-color: aqua;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border: solid black 2px;

    section {
        margin: 20px;
        padding: 0;

        div {
            margin: 20px;
            padding: 0;
        }

        input:not([type='checkbox']) {
            width: 100%;

        }
        label {
            padding-block: 10px;
        }
    }
}