{% extends 'base.html.twig' %}

{% block title %}Paiement sécurisé{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/payment.js') }}" defer></script>
{% endblock %}

{% block body %}
	<main id="payment" class="row">
		<section class="col-12 mt-4">
			
		</section>
	</main>
{% endblock %}

