{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <main id="nos-formation" class="row">
        <section class="col-12 mt-4">
            {% for cours in courses %}
                <article class="col-12 alert alert-success">
                    <div class="row">
                        <h1 class="text-center pb-5">Formation en développement <span
                                class="text-uppercase fs-1">{{ cours.title }}</span></h1>
                    </div>
                    <div class="row flex-column flex-md-row shadow-sm mb-4">
                        <div class="col-12 col-md-4">
                            <h2 class="text-center pb-5">Détails de la formation</h2>
                            <ul class="list-group">
                                <li class="list-group-item">Durée : {{ cours.duration }} Heures</li>
                                <li class="list-group-item">Langues : Français</li>
                                <li class="list-group-item">Contenu : {{ cours.content }} exercices interactifs</li>
                                <li class="list-group-item">Accès : Mobile & PC</li>
                                <li class="list-group-item">Prix : {{ cours.price }} euros</li>
                                <li class="list-group-item">Certification incluse</li>
                            </ul>
                            <div class="pt-4 mb-4 text-center">
                                <a href="" type="submit" class="btn btn-secondary">Achéter
                                    maintenant</a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
