:root {
    font-size: 10px;
    --clr-black: black;
    --clr-white: white;
    --principal_color : #1128f5; 
    --second_color: #ebb217;
    --background:#F9F9F9;
    --third_color:#2917d0;
}
img {
    width: 100%;
    vertical-align: middle;
}
body{
    header{
        #menu {
            position: absolute;
            top: 60px;
            right: 20px;
            background: white;
            z-index: 100;
            width: 250px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            #burger{
                position: inherit;
                top: 10px;
                left: 10px;
            }
        }

    }
}

#formation {
    font-size: 1.8rem;


h1 {
     font-size: 3rem;
    font-weight: bold;
    color: var(--principal_color);
}    
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--third_color);
}

summary {
   color: var(--third_color);
}

button {
    border: none;
    color : var(--clr-white);
    background-color: var(--principal_color);
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.8rem;
}
}