
{% block body %}
    <h1>Bienvenue {{ username }} !</h1>
    <p>Merci de vous être inscrit sur notre plateforme. Nous sommes ravis de vous avoir parmi nous !</p>
    <p>Votre adresse email est : {{ user.email }}</p> 
    <p>Vous pouvez maintenant vous connecter et explorer toutes les fonctionnalités que nous offrons.</p>
{% endblock %}