{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/reset.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        <h1 class="text-center fs-1 text-uppercase my-3">Réinitialiser le mot de passe</h1>
        <form method="post">
            <label for="email">Adresse e-mail</label>
            <input type="email" name="email" id="email" class="form-control" required autofocus
                   placeholder="Entrez votre adresse e-mail">
            <div class="text-center my-3">
                <button class="btn btn-primary fs-4" type="submit">Envoyer</button>
            </div>
        </form>
        <div class="text-center my-3">
            <a href="{{ path('app_login') }}" class="btn btn-secondary fs-4">Retour à la connexion</a>
        </div>
    </div>
{% endblock %}