{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/reset.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section class="container my-2 pt-3 rounded-2" id="reset-password">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow border-0">
                    <div class="card-body bg-white rounded-4 p-4">
                        <h2 class="fs-3 text-uppercase text-center mb-4">Réinitialiser le mot de passe</h2>
                        
                        <form method="post">
                            <div class="mb-4">
                                <label for="email" class="form-label fs-6">Adresse e-mail</label>
                                <input type="email" name="email" id="email" class="form-control" required autofocus
                                       placeholder="Entrez votre adresse e-mail">
                            </div>

                            <div class="text-center mb-4">
                                <button class="btn btn-primary btn-lg px-4 py-2 fs-5" type="submit">Envoyer</button>
                            </div>
                        </form>

                        <div class="text-center mb-4">
                            <a href="{{ path('app_login') }}" class="btn btn-secondary  fs-5">Retour à la connexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
