<ul class="list-unstyled d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
	<li>
		<a class="fs-5 text-decoration-none text-secondary" href="/">Accueil</a>
	</li>
	<li>
		<a class="fs-5 text-decoration-none text-secondary" href="">Catalogue</a>
	</li>
	<li>
		<a class="fs-5 text-decoration-none text-secondary" href="{{ path('app_login') }}">Login</a>
	</li>
	<li>
		<a class="fs-5 text-decoration-none text-secondary" href="{{ path('app_register') }}">Signup</a>
	</li>
	<li>
		<a class="fs-5 text-decoration-none text-secondary" href="{{ path('app_home') }}#contact">Contact</a>
	</li>
</ul>
