{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}

<section class="row">
    <div class="text-center">
        <h1 class="text-uppercase fs-1 text-primary fw-semibold">A propos d'e-school</h1>
    </div>
    <div class="col-11 col-md-11 m-auto">
    <article class="alert alert-info">
        <div class="text-center">
            <h2 class="fs-2 text-black">Votre avenir commence ici, avec eSchool.</h2>
        </div>
        <p class="fs-3">
            Chez eSchool, nous croyons que l’apprentissage doit être accessible, efficace et connecté au monde d’aujourd’hui. C’est pourquoi nous proposons des formations en ligne dans le domaine de la technologie, conçues pour s’adapter à votre rythme et à vos ambitions.
        </p>
    </article>
    <article class="alert alert-primary">
        <div class="text-center">
            <h2 class="fs-2 text-black">Pourquoi choisir eSchool ?</h2>
        </div>
        <ul>
            <li class="fs-3">
                Formations 100% en ligne : apprenez où vous voulez, quand vous voulez, sans contraintes.
            </li>
            <li class="fs-3">
                Programme à jour et orienté métier : nos contenus sont conçus en collaboration avec des experts du secteur pour répondre aux besoins réels du marché.</li>
            <li class="fs-3">
                Accompagnement personnalisé : notre équipe pédagogique vous soutient tout au long de votre parcours.
            </li>
            <li class="fs-3">
                Communauté dynamique : échangez avec d’autres apprenants passionnés et des professionnels du secteur.
            </li>
            <li class="fs-3">
                Certification reconnue : validez vos compétences et boostez votre employabilité.
            </li>
        </ul>
    </article>
    <article class="alert alert-danger">
        <div class="text-center">
            <h2 class="fs-2 text-black">Notre mission</h2>
        </div>
        <p class="fs-3">
            Nous souhaitons construire un avenir où chaque talent a les clés pour réussir dans la tech, quelle que soit sa situation géographique ou son parcours initial. Avec eSchool, l’innovation pédagogique rencontre la flexibilité numérique pour vous offrir une expérience d’apprentissage unique et efficace.
        </p>
    </article>
    </div>
</section>
{% endblock %}
