{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello </h1>

    {{ cours.title }}
</div>
{% endblock %}
